.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #464c3a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.left {
  display: flex;
  margin-bottom: 0;
}
.header img {
  width: 4.5em;
  height: 4.5rem;
}
.header ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.header li {
  margin-right: 30px;
}
.button {
  font: inherit;
  cursor: pointer;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 25px;
  padding: 0.4rem 1.6rem;
}
